
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Pishrun Energy | Transceiver</title>
</head>
<h1>nRF Transceiver Monitoring</h1>

<body>

  <% @devices_all.each do |device| %>
  <% (@uniq_imei ||= []) << device.imei %>
  <% end %>

  <% @uniq_imei.inspect %> <br>

  <% @uniq_imei = @uniq_imei.uniq %>

  <% @uniq_imei.each do |imei| %>

  <%= "#{imei} >> " %> 
  <%= link_to "Download Excel", devices_path(:format => "xls", :selected_imei => imei)%>  
  <%= " | " %>
  <%= link_to "Download CSV", devices_path(:format => "csv", :selected_imei => imei)%> <br>
  <% end %>

<!--   <%= dt = Time.now%>  <br>
  <%= dt.to_time.to_i %>  <br>

  <%= Date.civil(Time.now.year, Time.now.month, Time.now.day).to_parsi %>  <br>
  

  <%= d = Date.civil(2012, 10, 30).to_parsi %>  <br>
  <%= d.to_gregorian %>  <br> -->

 
 

</body>
</html>



