
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Pishrun Energy | Transceiver</title>
</head>
<h1>nRF Transceiver Monitoring</h1>

<body>

  <% @devices_all.each do |device| %>
  <% (@uniq_imei ||= []) << device.imei %>
  <% end %>

  <% @uniq_imei.inspect %> 

  <% @uniq_imei = @uniq_imei.uniq %>

  <!-- ----------------------------------------------- -->

  <div align="center">

    <%= form_tag({:controller=>"devices", :action=>"index"}, method: :get) do %>
    <%= date_field(:user, :born_on, value: "") %>
    <%= submit_tag 'Submit Date', name: nil %>
    <% end %>

    

    <% if @selected_time.blank? == false %>

      <% @sdate = @selected_time.to_s.split('"')[3].split('-') %>

      <% if @sdate.blank? == false %>
        <% @select_unixtime = Date.new(@sdate[0].to_i,@sdate[1].to_i,@sdate[2].to_i).to_time.to_i + (12600) %>
      <% else %>
        <% @select_unixtime = 0 %>
      <% end %>

    <% else %>
      <% @select_unixtime = 0 %>
    <% end %>

    <%= DateTime.strptime("#{@select_unixtime}",'%s').strftime("%Y-%m-%d") %>
    


  </div>

  <!-- ----------------------------------------------- -->

  <div align="left">

    <% @uniq_imei.each do |imei| %>
    <%= "#{imei} >> " %> 
    <%= link_to "Download Excel", devices_path(:format => "xls", :selected_imei => imei, :unix_time => @select_unixtime )%>
    <%= " | " %>
    <%= link_to "Download CSV", devices_path(:format => "csv", :selected_imei => imei, :unix_time => @select_unixtime )%> <br>
    <% end %>

  </div>

</body>
</html>



