<p id="notice"><%= notice %></p>

<p>
  <strong>Imei:</strong>
  <%= @device.imei %>
</p>

<p>
  <strong>Packege:</strong>
  <%= @device.packege %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
